 table, tr:nth-child(even) {
            margin-top: 30px;
            padding-top: 30px;
            color: white;

        }
        div.botones {
            text-align: center;
            padding: 2%;

        }
        h3 {
            text-align: center;
        }
        div.label {
        text-align:right;
        vertical-align: top;
        font-family: Arial;
        
        }
        table {
          width: 80%;
          max-width: 600px;
          margin-left: auto;
          margin-right: auto;
          border-collapse: collapse;
        }
        div.input {
            text-align: left;
            padding: 1%;
        }
        form {

        }
        header {
            color: white;
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            width: 100%;
            height: 100%;
        }
      #myVideo {
     object-fit: cover;
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1000;
}
body {
  padding-top: 200px;
}