body {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.map-responsive{
    overflow:hidden;
    width:800px;
    height: 600px;
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;


}
h1 {
    padding-top: 100px;
    padding-left: 600px;
    color: white;
}

#myVideo {
     object-fit: cover;
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1000;
}
h3 {
    color: white;
    padding-left: 600px;
}
p {
    color: white;
    padding-left: 600px;
}