

html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav, section {
padding: 0;
margin: 0;
}

article, aside, footer, header , main, nav, section {
	display: block;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;

	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
}

.header {
  
	text-align: center;
	color: white;
	padding: 20px 20px;
	padding-right: 300px;
	float: center;
  
    background-image: url(imgAnthem/estrellas.jpg);
    background-size: 100% 290px;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

nav {
  
	margin-left: 5px;
	margin-right: 5px;
	height: 90px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
     
	

}
ul {

  
  width: 600px;
  padding: 10px;
  margin: 0px auto 0px auto;
  text-align: center;


}


li {
   
	display: inline;
	float: left;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
   

}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 18px 5px 18px;
  text-decoration: none;
  text-transform: uppercase;

  }
a:link, a:visited {
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  
 
}
a:hover, a:active {
 
}

section {
	text-align: center;
	float: center;
	background-color: black;
	color: white;
	margin-top: 5px;
	height: 500px;
	width: 955px;

	background-image: url(imgAnthem/libro.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
article {
	float: center;
	
	margin-top: 5px;
	padding: 10px 15px;
	
	height: auto;

}

main {
	widows: 640px;
	float: left;
	margin-bottom: 10px;
	background-color: black;
	color: white;

}

aside {
	text-align: center;

	width: 270px;
    float: left;
	padding: 20px;
	margin-top: 5px;
	color: white;
	
}
footer {
	color: white;
	 font-family: "Times New Roman", Times, serif;
	
	
}


.dropbtn {
  background-color: black;
  color:white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.dropbtnS {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.dropdown {
  
  position: relative;
  display: inline-block;
}

.dropdown-content {
	float: left;
  display: none;
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-family: "Times New Roman", Times, serif;
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {font-family: "Times New Roman", Times, serif;}

.dropdown:hover .dropdown-content {
	font-family: "Times New Roman", Times, serif;
  display: block;
}

.dropdown:hover .dropbtn {
 
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
 
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: purple;
  color: white;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.copyright {
	float: right;
}
.ejemplo1 {
	color: white;
}
img {

  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
 
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.circular--square {
  border-radius: 50%;
}
h4 {
  padding-left: 280px;
  font-family: "Times New Roman", Times, serif;
}
#myVideo {
     object-fit: cover;
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1000;
}